<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>corleone-pizza</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterLogin</display-name>
    <filter-name>FilterLogin</filter-name>
    <filter-class>filter.FilterLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterLogin</filter-name>
    <url-pattern>/FilterLogin</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegister</display-name>
    <servlet-name>ServletRegister</servlet-name>
    <servlet-class>servlets.ServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpdate</display-name>
    <servlet-name>ServletUpdate</servlet-name>
    <servlet-class>servlets.ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdate</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSearch</display-name>
    <servlet-name>ServletSearch</servlet-name>
    <servlet-class>servlets.ServletSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSearch</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProduct</display-name>
    <servlet-name>ServletProduct</servlet-name>
    <servlet-class>servlets.ServletProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProduct</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
</web-app>